 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>A versatile, hands-on Android Developer with a can-do attitude and more than 7 years' experience.
                      A born problem solver, good at thinking out of the box.
                      Adept at building cutting-edge Android apps for mobile and tablet devices.
                      Self-motivated, eager to take ownership on a personal level as well as a team effort.
                      Proficient with the latest tools and technologies including: Kotlin, Rx, Dagger.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://fodor.work/istvan_fodor_cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
