 <!-- About Section -->
    <section class="container" id="hobbies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hobbies</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I like to build/repair physical things too. I set my mind on something, pick up the skills needed for the job and do it. </p>
                    <p>It can be anything from fixing something on my '94 Mazda Mx3 to completely renovating my kitchen. There is only one rule, it has to be done properly. I don't mind spending days researching a topic or buying necessary equipment, if it can be done in good quality while learning something new.</p>
                </div>
            </div>
        </div>
    </section>
