 <!-- About Section -->
    <section class="container" id="hobbies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hobbies</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I like to build/repair physical things.</p>
                    <p>It can be anything from fixing something on my '94 Mazda Mx3 to renovating my kitchen. I don't mind spending days researching a topic or buying necessary equipment, if it can be done in good quality while learning something new.</p>
                    <p>I'm a self-taught electrican enthusiast and a 3D printing hobbyist.</p>
			   </div>
            </div>
        </div>
    </section>
