<!-- About Section -->
<section class="container" id="hobbies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hobbies</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>I enjoy building and repairing physical things. Whether it's constructing drywall, welding metal, or crafting
          wood projects, I take pride in creating things that are both functional and well-made.</p>
        <p>I don't mind spending days researching new techniques or investing in the right tools to ensure the job is
          done with quality. Learning new skills along the way is something I really enjoy.</p>
        <p>I'm a self-taught electrician enthusiast and a passionate hobbyist in 3D printing.</p>
      </div>
    </div>
  </div>
</section>
