 <!-- About Section -->
    <section class="text-center" id="learnings">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <img src="logo_wavy.png" class="responsive-image">
                </div>
                <div class="col-lg-4">
                  <p>The former Cookies team joined Klarna’s product division at the end of 2016 and in mid 2017, Klarna Bank AB launched its peer-to-peer payment service called </b>Wavy.</b></p>
                </div>
            </div>

            <!-- Introduction -->
            <div class="row">
              <div class="col-lg-12">
                  <iframe src="http://www.youtube.com/embed/QBnfxpUr1UM"
                  width="560" height="315" frameborder="0" allowfullscreen style="margin: 5%"></iframe>
                </div>
            </div>

            <!-- Introduction -->
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <p>Wavy is an app available on iOS and Android in 31 European markets. With two-factor authentication, fingerprint unlock,
                  encrypted data on the device and encrypted communication between smartphone and bank (SSL), Wavy provides a secure method
                  for splitting bills smoothly among friends, colleagues and family members.</p>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <img src="ill_wavy_2.jpg" class="responsive-image" width="100%">
                </div>
            </div>

            <!-- Introduction -->
            <div class="row" style="margin-top:1em">
              <div class="col-lg-8 col-lg-offset-2">
                <h2>the Android app</h2>
                <hr class="star-primary">

                <p>During my time at Wavy, we had one developer per platform on the frontend side. I was the one developing the Android app and had to work
                  closely with the designer, project manager, tester and the other devs. The project was a good mixture of hardcore technical and interesting UI/UX stuff.</p>
            </div>

            <div class="row" style="margin-top:1em">
                <div class="col-lg-3 col-lg-offset-2">
                  <img src="ill_wave.gif" class="responsive-image" loop=infinite width="80%">
                </div>
                <div class="col-lg-5">
                  <br><br>
                  <h4>Security</h4>
                  <p>Since we were "dealing with actual money" security was key. During this time I have learned a lot about forced updates, detecting rooted devices, encryption, certificate pinning, SMS codes and challenge-response authentication.</p>
                </div>
            </div>

            <div class="row" style="margin-top:1em">
                <div class="col-lg-5 col-lg-offset-2">
                  <br><br>
                  <h4>User-centric</h4>
                  <p>We integrated with lots of 3rd party SDKs for various features, like "Login with Facebook" made it possible to streamline the sign-up process, Firebase for remote configuration based A/B testing, InstaBug for beta feedback, had Intercom for better communication with the users and used the Jumio's Netverify for KYC.</p>
                </div>
                <div class="col-lg-3">
                  <img src="ill_wavy_3.jpg" class="responsive-image" width="80%">
                </div>
            </div>

            <div class="row" style="margin-top:1em">
                <div class="col-lg-3 col-lg-offset-2">
                  <img src="ill_card.gif" class="responsive-image" loop=infinite  width="80%">
                </div>
                <div class="col-lg-5">
                  <br>
                  <h4>Emotional design</h4>
                  <p>We did rapid design iterations and they had one thing in common, they were unique. It wasn't the usual (and sadly widespread) approach of designing for iOS and porting it Android and neither was using Material Design.</p>
                  <p>This meant dozens of custom UI elements and animations. It was challenging, but fun. Learned a lot about SVG animations, drawing on canvas and animating it. I'm proud of the "wave" which is a custom view drawing this shape and animating it.</p>
                  </div>
            </div>
        </div>
    </section>
