 <!-- About Section -->
    <section class="text-center" id="learnings">
        <div class="container">

            <div class="row" style="margin-top:1em">
              <div class="col-lg-8 col-lg-offset-2">
                  <p></b>UEFA.tv</b> is UEFA's OTT platform which is available on Android, iOS, web and coming to TV platform and PS4 n the upcoming months.</p>
            </div>
			
            <!-- Introduction -->
            <div class="row" style="margin-top:1em">
              <div class="col-lg-8 col-lg-offset-2">
                <h2>The Android app</h2>
                <hr class="star-primary">

                <p>It has a cutting edge tech stack that means it is 100% written in Kotlin while using Rx, data binding and clean architecture.</p>
            </div>

            <div class="row" style="margin-top:1em">
                <div class="col-lg-3 col-lg-offset-2">
                  <img src="ill_uefatv_1.png" class="responsive-image" loop=infinite width="80%">
                </div>
                <div class="col-lg-5">
                  <br><br>
                  <h4>TODO</h4>
                  <p>todo</p>
                </div>
            </div>

        </div>
    </section>
