 <!-- About Section -->
    <section class="success" id="learnings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Learnings</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2">
                  <p>Learned a lot about transitioning from a start-up team into a product group of an organization, working under pressure, taking ownership and most importantly, making things banking standard secure.</p>
                </div>
                <div class="col-lg-3">
                  <p>Some of my takeaways:</p>
                  <ul>
                    <li>SSL Certificate Pinning</li>
                    <li>Encryption and Ciphers</li>
                    <li>Firebase APIs</li>
                    <li>Exporting assets from Sketch</li>
                    <li>Analytics and tracking in general</li>
                    <li>Custom views w/ animations</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://play.google.com/store/apps/details?id=com.klarna.snabby" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> See in Google Play
                    </a>
                </div>
            </div>
        </div>
    </section>
