 <!-- About Section -->
    <section class="success" id="learnings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Learnings</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2">
                  <p>Learned a lot about working closely and effectively in a team of remote developers.</p>
                </div>
                <div class="col-lg-3">
                  <p>Some of my takeaways:</p>
                  <ul>
                    <li>Databinding</li>
                    <li>RxAndroid</li>
                    <li>Firebase hosting</li>
                    <li>Dynamic links</li>
                    <li>Producing assets in Lunacy</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://play.google.com/store/apps/details?id=com.uefa.uefatv" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> See in Google Play
                    </a>
                </div>
            </div>
        </div>
    </section>
