 <!-- About Section -->
    <section class="container" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-2 text-center">
                  <h4>Languages</h4>
                  <p>Kotlin</p>
                  <p>Java</p>
                  <p>SQL</p>
                  <p>Lua</p>
                  <p>HTML</p>
                  <p>CSS</p>
                </div>
                <div class="col-lg-2 text-center">
                  <h4>Frameworks</h4>
                  <p>Dagger</p>
                  <p>Retrofit</p>
                  <p>RxJava</p>
                  <p>Cipher</p>
                </div>
                <div class="col-lg-2 text-center">
                  <h4>SDKs</h4>
                  <p>Firebase</p>
                  <p>Google Maps</p>
                  <p>Facebook</p>
                  <p>Intercom</p>
                  <p>NetVerify</p>
                  <p>Amplitude</p>
                  <p>Adjust</p>
                  <p>Branch.io</p>
                </div>
                <div class="col-lg-2 text-center">
                  <h4>Tools</h4>
                  <p>Sketch</p>
                  <p>GitFlow</p>
                  <p>Zeplin</p>
                  <p>POEditor</p>
                </div>
            </div>
        </div>
    </section>
