<!-- About Section -->
<section class="container" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <h4>Languages</h4>
                <p>Kotlin</p>
                <p>Java</p>
                <p>Swift</p>
                <p>ObjC</p>
                <p>TypeScript</p>
                <p>JavaScript</p>
                <p>HTML+CSS</p>
            </div>
            <div class="col-lg-2 text-center">
                <h4>Frameworks</h4>
                <p>Dagger</p>
                <p>Retrofit</p>
                <p>Realm</p>
                <p>Rx</p>
                <p>AVKit</p>
                <p>ExoPlayer</p>
                <p>Cipher</p>
                <p>AndroidX</p>
                <p>TVMLKit</p>
                <p>UIKit</p>
            </div>
            <div class="col-lg-2 text-center">
                <h4>SDKs</h4>
                <p>Firebase</p>
                <p>Google Maps</p>
                <p>Facebook</p>
                <p>Intercom</p>
                <p>NetVerify</p>
                <p>Amplitude</p>
                <p>Adjust</p>
                <p>Branch.io</p>
            </div>
            <div class="col-lg-2 text-center">
                <h4>Tools</h4>
                <p>AndroidStudio</p>
                <p>WebStorm</p>
                <p>xCode</p>
                <p>Sketch</p>
                <p>GitFlow</p>
                <p>Zeplin</p>
                <p>Jenkins</p>
                <p>POEditor</p>
            </div>
        </div>
    </div>
</section>
