<!-- About Section -->
    <section id="timeline">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Experience</h2>
                  <hr class="star-primary">
              </div>
          </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/oce.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2018-PRESENT</h5>
                                    <h4 class="subheading">Océ, Szeged</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Océ, a subsidiary of Canon Europe, I was working on the rewrite of the Canon Photo Companion app. We aimed for a cutting edge tech stack and streamlined user experience.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/klarna.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2016-2018</h5>
                                    <h4 class="subheading">Klarna, Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After Klarna aquired the Cookies team, we started from scratch with the app, but the idea remained the same. We aimed for a great user experience, while placing emphasis on security.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cookies.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2015-2016</h5>
                                    <h4 class="subheading">Cookies Labs, Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As the sole Android developer in the start-up, I was responsible for the Cookies Android app. It was all about fast paced feature iterations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/rss.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2014-2015</h5>
                                    <h4 class="subheading">Red Steed Studios, Szeged</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at RSS, I worked on various R&D projects including a Bitcoin wallet, a chat application and a map based mobile game prototype. I was supervising a small team of 5 developers.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cas.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2011-2014</h5>
                                    <h4 class="subheading">CAS Software, Szeged</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We developed a native Android client for CAS Software´s flagship CRM system and shipped major feature updates on a bi-monthly basis. I was the team's Scrum Master for two years.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/szte.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>2006-2011</h5>
                                    <h4 class="subheading">Business Information Technology, BSc</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
